.artist__wrapper {
  display: flex;
  margin: 50px;
}

.artist__img {
  width: 100px;
  border-radius: 50%;
}

.related__div > img {
  border-radius: 50%;
}

.artist__div {
  display: flex;
  flex-wrap: wrap;
}

.top__div {
  margin: 10px;
}

.artist__div img {
  cursor: pointer;
  width: 60px;
}
