.songs__div {
  margin: 50px 200px;
}

.heading__div {
  color: #7868e6;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.songs__list__div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.songs__list__div > div {
  margin: 10px;
  cursor: pointer;
}

.songs__list__div img {
  width: 85px;
}

@media only screen and (max-width: 1200px) {
  .songs__div {
    margin: 50px 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .songs__div {
    margin: 50px 100px;
  }
}
