@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main__div {
  display: flex;
  justify-content: center;
  background-color: #98acf8;
  padding: 30px 0;
}

input[type="text"] {
  text-align: center;
  border: none;
  height: 40px;
  width: 250px;
  font-size: 15px;
  border-radius: 10px;
}

input[type="image"] {
  width: 20px;
  margin: 0 10px;
}
