.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__wrapper div {
  background-color: black;
  padding: 10px 30px;
  color: white;
  margin-top: 100px;
}

.login__wrapper div:hover {
  cursor: pointer;
  background-color: grey;
  transition: background-color 500ms;
}
